{% extends "base.twig" %}
{% block content %}

    <div class="columns">
        <div class="column col-9 col-md-12">
            <ul class="tab tab-block months">
                {% for month in months %}
                    {% if month.key == monthKey %}
                        <li class="tab-item active">
                            <a href="#">{{ month.name }}</a>
                        </li>
                    {% else %}
                        <li class="tab-item">
                            <a href="{{ month.link }}">{{ month.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="tab tab-block days">
                {% for day in days %}
                    <li class="tab-item  tooltip tooltip-bottom" data-tooltip="{{day|dayName}}">
                        <a href="#day-{{ day|day }}" >{{ day|day }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% for day in days if eventsByDate[day]|length > 0 %} 
                {% include "list-day.twig" %}
            {% endfor %}
        </div>
        <div class="column col-3 col-md-12">
            {% include "infobox.twig" %}
        </div>
    </div>
        
{% endblock %}
