{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12">
        <div class="header columns">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>Deine Daten gehören Dir.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p>Im Moment verarbeiten wir keinerlei personenbezogene Daten.</p>
                <!--
                <p>
                    Wir behandeln Deine personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                    <br>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Deine ausdrückliche Zustimmung nicht an Dritte weitergegeben.
                    <br>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
                </p>
                -->
                <p>
                    <h5>Server-Log-Files</h5>
                    Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Dein Browser automatisch übermittelt. Dies sind:
                    <ul>
                        <li>Browsertyp/ Browserversion</li>
                        <li>verwendetes Betriebssystem</li>
                        <li>Referrer URL</li>
                        <li>Hostname des zugreifenden Rechners</li>
                        <li>Uhrzeit der Serveranfrage</li>
                    </ul>
                    Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
                    Für weitere Informationen verweisen wir an den Provider uberspace:<br>https://uberspace.de/de/about/privacy/
                    <!--
                    Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
                    -->
                </p>
                <!--
                <p>
                <h5>Kontaktformular</h5>
                Wenn Du uns per Kontaktformular Anfragen zukommen lässt, werden Deine Angaben aus dem Anfrageformular inklusive der von Dir dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Deine Einwilligung weiter.
                </p>
                <p>
                <h5>Besuchsstatistiken</h5>
                <strong>Diese Website benutzt </strong><a href="http://piwik.org/" target="top" rel="noopener noreferrer">Piwik</a>, eine Open-Source-Software zur statistischen Auswertung der Besucherzugriffe für eine Evaluierung und Verbesserung des Angebots. Piwik verwendet sog. „Cookies“, Textdateien, die auf Deinem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Dich ermöglichen. Die durch den Cookie erzeugten Informationen über Deine Benutzung dieses Internetangebotes werden auf dem Server von ulmtreiben.de in Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Du kannst die Installation der Cookies durch eine entsprechende Einstellung Deiner Browser-Software verhindern; wir weisen Dich jedoch darauf hin, dass Du in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen kannst.
                </p>
                -->
            </div>
        </div>
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>
        
{% endblock %}
