<div class="infobox">
    <div class="content">
        <a href="{{ browseLink }}">stöbern</a>.</br> 
        <a href="/gruppen.html">gruppen</a>.</br> 
        <a href="/info.html">über ulmtreiben</a>.</br>
        {# <a href="/panel/">eintragen</a>. </br> #}
        {# <a href="https://gitlab.com/trichter">open source</a>. </br> #}
        {# <a href="#impressum">impressum</a>. </br> #}
        <a href="/info.html#contact">kontakt</a>.</br>
        <a href="/datenschutz.html">datenschutz</a>.</br>
        <small>
            </br><a href="https://gitlab.com/ulmtreiben">Forked</a> from <a href="https://gitlab.com/trichter"><img src="https://assets.gitlab-static.net/uploads/-/system/group/avatar/4089245/icon.png?width=64" height="10px">trichter</a>
        </small>
    </div>
</div>
