{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12">
        <div class="header columns">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>über ulmtreiben.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p><b><i>Ulmtreiben</i> ist ein unkommerzieller Online-Veranstaltungskalender für Ulm und Umgebung.</b> </p>
                <p>Du willst wissen, was in Ulm so geht? Dann bist du hier genau richtig – bei einem unkommerziellen Online-Veranstaltungskalender für Partys, Konzerte, Filmveranstaltungen, Vorträge und vieles mehr. Wir sammeln hier alles abseits des Mainstreams, was individuell, alternativ, interessant und anders ist, egal ob Elektroparty, Podiumsdiskussion oder Fahrraddemo.</p>
                <p>Mit der Plattform möchten wir auch <b>eine freie Plattform der Vernetzung</b> in die Hand geben und damit die derzeit bestehende Abhängigkeit zu Facebook abzubauen. Wenn Du eine Gruppe hast oder von Events weißt, die hier noch fehlen, schreib uns gern an!</p>
                <p>Die Events wurden hier ursprünglich alle händisch eingetragen, bis es nicht mehr stemmbar war. Deshalb haben wir uns mit den Entwickler*innen von <a href="https://trichter.cc">trichter.cc</a> aus Leipzig zusammengesetzt. Mit deren freiem Quellcode konnten wir ulmtreiben</i> neu aufziehen.</p>
                <p>Die <b>Inhalte werden</b> teilweise <b>maschinell</b> aus öffentlich zugänglichen Quellen zusammen gesammelt, wodurch sich Fehler ergeben können – gerade bei nachträglichen Änderungen/Absagen. Prüfe also gern die Informationen gegen, bevor Du bei einer abgesagten Veranstaltung auftauchst! :)</p>
            </div>
        </div>

        <a name="contact"></a>
        <div class="header columns mt-1">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>kontakt.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p>
                    Meldet euch gerne bei allen Belangen hier: <a href="mailto:ulmtreiben@posteo.de">ulmtreiben@posteo.de</a>
                    <br />
                    Uns gibt’s auch auf <a href="https://www.facebook.com/ulmtreiben/" target="Top">Facebook</a> (die Events werden aber nur auf ulmtreiben.de veröffentlicht).
                </p>
            </div>
        </div>

        <a name="impressum"></a>
        <div class="header columns mt-1">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>impressum.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p>
                    <b>Angaben gemäß § 5 TMG</b>
                    <br>Die Wurzel - Hausprojekt für gelebte Utopien Ulm e.V.
                    <br>Schaffnerstraße 17
                    <br>89073 Ulm

                    <br><br>Vertreten durch:
                    <br>Sandro Eiler

                    <br>Kontakt:
                    <br>Telefon: 0177-1737179
                    <br>E-Mail: hallo (äet) wurzel (minus) hausprojekt (dot) de
                </p>
                <p>
                Haftungsausschluss:

<b>Haftung für Inhalte</b>
<br>
Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
<br>
<br>
<b>Haftung für Links</b>
<br>
Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                </p>
            </div>
        </div>
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>
        
{% endblock %}
