{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12">
            {% for day in days if eventsByDate[day]|length > 0 %} 
                {% include "list-day.twig" %}
            {% endfor %}
            <div class="header columns">
                <div class="column col-9"></div>
            </div>
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>
        
{% endblock %}
