
.tab {
    background-color: rgba(0,0,0,0.3);
    color: white;
    margin: 0;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
}
.tab .tab-item.active a, .tab .tab-item a.active {
    color: white;
    font-weight: bold;
    border-bottom-color: white;
}
.tab-item {
    font-size: 0.8em;
}

.tab.days {
    border-bottom: none;
    .tab-item a {
        font-size: 0.7em;
        padding: 0.4rem 0 0.3rem 0;
    }
}